body{
    background-color: #73C290 ;
    color: white ;
    font-size: 2rem;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

p{
    color:red;
    font-family: 'Montserrat', sans-serif;
}

